html {
  font-size: 62.5%;
}

*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  color: #1a2b5f;
  line-height: 1.4;
  font-weight: 400;
  padding-bottom: 20rem;
}

/*1440,1170  */
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  margin: 0 auto;
  max-width: 1210px;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header {
  padding-top: 4rem;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: row;
}
.header__menu-item {
  margin-left: 5rem;
}
.header__menu-item:last-child {
  margin-left: 7rem;
}
.header__menu-link {
  font-size: 1.6rem;
  color: #1a2b5f;
  transition: color 0.25s linear, border 0.25s linear;
}
.header__menu-link:hover {
  color: #ffc87a;
}

.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: #1a2b5f;
}
.logo__text {
  color: #ffc87a;
}

.banner {
  padding-bottom: 15rem;
  padding-top: 15rem;
  max-width: 80rem;
  text-align: center;
  margin: 0 auto;
}
.banner__heading {
  font-weight: 700;
  font-size: 6rem;
  margin-bottom: 2rem;
}
.banner__desc {
  font-size: 1.8rem;
  font-weight: 300;
  margin-bottom: 4rem;
}
.banner__buttons {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.banner__buttons .btn {
  margin: 0 1rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  text-align: center;
  color: #1a2b5f;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;
}
.btn--border {
  border: 1px solid currentColor;
}
.btn--rounded {
  border-radius: 5rem;
}
.btn--primary {
  background-color: #ffc87a;
}
.btn--primary.has-shadow {
  box-shadow: 0 10px 35px -5px #ffc87a;
}

.category__list {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
}
.category__item {
  width: calc(25% - 35px);
  padding: 1rem;
  background-color: bisque;
  border-radius: 20px;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  flex-direction: column;
}
.category__item:first-child {
  box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.25);
}
.category__item:nth-child(2) {
  box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.25);
}
.category__item:nth-last-child(2) {
  box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.25);
}
.category__item:last-child {
  box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.25);
}
.category__image {
  border-radius: inherit;
  object-fit: cover;
  margin-bottom: 4rem;
  width: 100%;
  height: 23rem;
}
.category__name {
  font-size: 3rem;
  margin-bottom: 2.5rem;
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.category__details {
  margin-top: auto;
  font-size: 1.4rem;
  color: #c6cad7;
}
.category__details i {
  margin-left: 1rem;
}

.feature {
  padding-top: 18rem;
}
.feature__item {
  margin-bottom: 15rem;
  display: flex;
  align-items: center;
}
.feature__item:nth-child(odd) .feature__info {
  padding-left: 5rem;
}
.feature__item:nth-child(even) {
  flex-direction: row-reverse;
}
.feature__item:nth-child(even) .feature__info {
  padding-right: 5rem;
}
.feature__image, .feature__info {
  width: 50%;
}
.feature__title {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
}
.feature__desc {
  font-weight: 300;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  line-height: 1.8;
}
.feature-intro__item {
  list-style-type: none;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: underline;
  margin-bottom: 2rem;
}
.feature-intro__item--circle {
  text-decoration: none;
  position: relative;
  padding-left: 5rem;
}
.feature-intro__item--circle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-color: #ffc87a;
  border-radius: 4rem;
  transform: translateY(-50%);
}
.feature-intro__item--circle:nth-child(1)::before {
  background-color: #1a2b5f;
}
.feature-intro__item--circle:last-child::before {
  background-color: blue;
}

/*# sourceMappingURL=style.css.map */
